// =================================================
//
// Header
//
// =================================================

// sail colors from logo
// $light-blue: #5db8f3;
// $blue: #1a9bf0;
// $dark-blue: #137bcf;

.header {
	text-align: center;
	position: relative;
	margin-top: 44vh;  //was 32vh
	transform: translateY(-50%);
}

.intro {
	width: 82%;
	max-width: 680px;
	margin-left: auto;
	margin-right: auto;
	color: #888;
}

.list {
	width: 80%;
	margin-left: auto;
	text-align: left;
	color: #888;

	@include media('medium') {
		width: 70%;  
	}
	@include media('large') {
		width: 60%;  
	}
}


.logo {
	width: 80px;   //was 100px

	@include media('medium') {
		width: 120px;  //was 140px
	}
}
